body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#app {
    text-align: center;
}

canvas {
    border: 1px solid #000;
    margin: 20px;
}

.send-button{text-align: center;
    background-color: #fff; /* Fondo blanco */
    color: #000; /* Texto negro */
    padding: 10px 20px; /* Ajusta el padding según sea necesario */
    font-size: 16px;
    border: 1px solid #000; /* Borde negro */
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

#button-container {
    display: flex;
    text-align: center;
    justify-content: center;
}

/* Agrega un estilo específico para cuando el botón tiene el texto "Dibujo enviado" */
.send-button.sent {
    border: none; /* Quita el borde */
    cursor: default; /* Desactiva el cursor */
}